# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de dependências
node_modules/

# Ambiente
.env

# Cache do Editor
.idea/
.vscode/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Build
dist/
build/
